.billboard {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-bottom: -20vh;
}

.billboard__image {
  height: 100%;
  width: 100%;
}

.billboard__content {
  position: absolute;
  padding-top: 150px;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
}
.billboard__content__tittle {
  color: white;
  font-size: 64px;
}
.billboard__content__overview {
  color: white;
  width: 40%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
}
.billboard__buttons {
  display: flex;
}
.billboard__content__play,
.billboard__content__info {
  width: auto;
  height: 57px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 15px;
  border: none;
}

.billboard__content__info {
  background-color: rgba(109, 109, 110, 0.7);
}
.billboard__content__play:focus,
.billboard__content__info:focus {
  border: none;
  outline: none;
}
.billboard__content__play:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
.billboard__content__info:hover {
  background-color: rgba(109, 109, 110, 0.4);
}
.billboard__content__play svg,
.billboard__content__info svg {
  height: 34px;
  padding-right: 7px;
  padding-left: 25px;
}
.billboard__content__play p,
.billboard__content__info p {
  font-size: 22px;
  font-weight: 700;
  padding-left: 7px;
  padding-right: 25px;
}

.billboard__content__info p {
  color: white;
}
.shadow {
  box-shadow: inset 0px -101px 36px -17px rgba(20, 20, 20, 1);
  z-index: 0;
  width: 100%;
  height: 105vh;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
