.header {
  position: absolute;
  display: flex;
  padding-left: 60px;
  height: 50px;

  align-items: flex-end;
}
.header__logo {
  width: 93px;
}
.header__nav {
  list-style: none;
  display: flex;

  margin-left: -15px;
  margin-bottom: -10px;
}

.header__navItem p {
  color: white;
  text-decoration: none;
  padding: 12px;
  padding-top: 120px;
  font-size: 14px;
  cursor: pointer;
}

.active {
  font-weight: 700;
}
