.row__poster {
  display: flex;
  position: relative;
  margin: 2px;

  cursor: pointer;
}

.row__genre {
  padding-left: 62px;
  font-size: 28px;
  color: white;
  font-weight: 600;
}

.row__posters {
  margin-top: -40px;
  margin-bottom: -20px;
  display: flex;
  overflow-x: scroll;

  height: 315px;
  align-items: center;
  padding-left: 60px;
}
.row__posters__isTall {
  margin-top: -40px;
  margin-bottom: -20px;
  display: flex;
  overflow-x: scroll;

  height: 630px;
  align-items: center;
  padding-left: 60px;
}

.row__posters::-webkit-scrollbar {
  visibility: hidden;
}

.row__posters__isTall::-webkit-scrollbar {
  visibility: hidden;
}

.row__shadow {
  opacity: 0;
  box-shadow: inset 0px -93px 62px -33px rgba(0, 0, 0, 0.71);
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.row__poster__title {
  color: white;
  font-size: 26px;
  position: absolute;
  bottom: 40px;
  left: 20px;
  pointer-events: none;
  opacity: 0;
  z-index: 20;
}

.isShown {
  opacity: 1;
  transition-delay: 500ms;
  transition-duration: 300ms;
}

.row__image {
  max-height: 180px;
  transition-duration: 500ms;
}

.row__image__isTall {
  max-height: 480px;
  transition-duration: 500ms;
}

.row__image:hover {
  max-height: 285px;
  transition-duration: 500ms;
  transition-delay: 400ms;
}

.row__image__isTall:hover {
  max-height: 590px;
  transition-duration: 500ms;
  transition-delay: 400ms;
}
